.gameContainer {
  width: 90vw;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.gameHeaderContainer,
.gameBodyContainer {
  background-color: var(--bgColorDarker);
  border-radius: 15px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
}

.gameHeaderContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #888;

  span {
    margin-top: 7px;
  }

  svg {
    width: 25px;
  }
}

.gameBodyContainer {
  width: 100%;
}

.gameResultContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;

  svg {
    width: 30px;
  }
}

.gameResultCorrectContainer,
.gameResultWrongContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 1.3rem;
  border-radius: 10px;
  padding: 10px;
  width: 100px;
}
.gameResultCorrectContainer {
  color: var(--correctTxtColor);
  background-color: var(--correctBgColor);
}

.gameResultWrongContainer {
  color: var(--wrongTxtColor);
  background-color: var(--wrongBgColor);
}

.gameQAContainer {
  margin: 15px;

  & > p {
    background-color: var(--bgColor);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 0.9rem;
  }
}

.gameAnswerContainer {
  padding: 10px;
  background-color: var(--bgColor);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.gameEachAnswerContainer {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 10px 0;
  padding: 10px 15px;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    background-color: var(--bgColorDarker);
  }

  span {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
  }

  p,
  span {
    pointer-events: none;
  }
}

.wrongAnswer {
  color: var(--wrongTxtColor);
  background-color: var(--wrongBgColor);
  span {
    background-color: var(--wrongTxtColor);
  }
}

.correctAnswer {
  color: var(--correctTxtColor);
  background-color: var(--correctBgColor);
  span {
    background-color: var(--correctTxtColor);
  }
}
