@font-face {
  font-family: nf;
  src: url('/assets/fonts/YekanBakh-Bold.ttf');
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  border: none;
  font-family: nf;
  direction: rtl;

  /* Color */
  --primaryColor: #a22;
  --secondaryColor: #f4b909;
  --bgColor: #eee;
  --bgColorDarker: #e6e6e6;
}

html {
  font-size: 16px;
  background-color: var(--bgColor);
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
